@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

/* Customize the scrollbar */
::-webkit-scrollbar {
  width: 14px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the track */
}

::-webkit-scrollbar-thumb {
  background-color: #333D34; /* Color of the scrollbar handle */
  border-radius: 5px; /* Rounded corners of the handle */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the scrollbar handle on hover */
}

.transition-effect {
  transition: opacity 0.5s ease-in-out;
}

@layer utilities {
  .carousel {
    @apply flex flex-col items-center justify-center;
  }
}
